
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


//dark grey - #282D30
//dark black - #151618
//light grey text - #DADEE1


body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron {
  background-color: #282D30;
}
.jumbotron .btn {  
  font-size: 21px;
}

.jumbotron a {
  text-decoration: none;
}

/* 
Semi-Scalable logo 
    Just need to change the width and font-size.
    Defaults to medium. 
*/
.gb-logo {
  background-color: #282D30;
  width: 12.6em;
}

.gb-logo div {
  
  float: none;
  margin-left: auto;
  margin-right: auto;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  -o-text-overflow: clip;
  text-overflow: clip;

  border: none;
  background-color: #ff2020;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  box-shadow: .2em .2em .1em #000000;
}

.gb-logo span {
  font-size: 200%;
  font-family: 'Lato' !important;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
/*
// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;*/

@media (max-width: 480px) {
     .gb-logo {
       width: 14em;
     }
     
     .gb-logo span {
       font-size: 200%;
     }    
} 

@media (min-width: 480px) and (max-width: 1200px) {
  
     .gb-logo {
       width: 25.2em;
     }
     
     .gb-logo span {
       font-size: 400%;
     }
} 

.gb-logo-medium {
  width: 12.6em;
}

.gb-logo-medium span {
  font-size: 200%;
}

.gb-logo-large {
  width: 25em;
}

.gb-logo-large span {
  font-size: 400%;
}

/* Used for site */
.gb-logo {
  padding: 2em 0em;
}





.project-tagline {
  color: #DADEE1;
}


.jumbotron {
  margin-bottom: 0px;
}

.nav-container {
  background-color: #151618;
  padding: 1em;
  margin-bottom: 30px;
}

.nav li {
  padding-left: 3em;
  padding-right: 3em;
}

.nav li a {
  border: solid 1px;
  border-color: #DADEE1;
  border-radius: 1.5em;
  color: #DADEE1;
  text-align: center;
}

.nav li:hover a {
  background: #282D30;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */





body {
  background: #dbdfe2;
    font-family: 'Lato';
}

h2 {
  color: #2f2f2f;
}

p {
  color: #2f2f2f;
}

p > a {
  color: #aaa;
  text-decoration: underline;
}




.footer {
  padding: 30px;
}




a.fa {
  text-decoration: none;
}

ul.social
{
  cursor: default;
  width: 113px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul.social li
{
  position: relative;
  display: inline-block;
  margin: 0.25em;
  top: 0;
  border-radius: 6px;
  overflow: hidden;
  background: #DADEE1;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
  -moz-transition: background-color .2s ease-in-out, top .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out, top .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out, top .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out, top .2s ease-in-out;
  transition: background-color .2s ease-in-out, top .2s ease-in-out;
  box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
}

ul.social li:before
{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url('images/bg.png'); */
}

ul.social li.twitter:hover        { background-color: #2DAAE4; }
ul.social li.facebook:hover       { background-color: #3C5A98; }
ul.social li.dribbble:hover       { background-color: #C4376B; }
ul.social li.linkedin:hover       { background-color: #006599; }
ul.social li.tumblr:hover       { background-color: #51718A; }
ul.social li.googleplus:hover     { background-color: #DA2713; }
ul.social li.github:hover       { background-color: #FAFAFA; }
ul.social li.rss:hover          { background-color: #F2600B; }
ul.social li.instagram:hover      { background-color: #E0D7C8; }
ul.social li.foursquare:hover     { background-color: #39A3D4; }
ul.social li.skype:hover        { background-color: #10BEF1; }
ul.social li.soundcloud:hover     { background-color: #FE5419; }
ul.social li.youtube:hover        { background-color: #BF2E25; }
ul.social li.blogger:hover        { background-color: #FF6501; }
ul.social li.flickr:hover       { background-color: #0062DB; }
ul.social li.vimeo:hover        { background-color: #4C8AB0; }

ul.social li:hover
{
  top: -5px;
}

ul.social li:active
{
  top: 0;
}

ul.social li a
{
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  outline: 0;
  color: #151618 !important;
  line-height: 46px;
  font-size: 24px;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
  left: 14px;
}

ul.social li a span
{
  display: block;
  text-indent: -9999px;
}

/* .fa-linkedin-square:before{content:"\f08c"} */



