<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ page.title }}</title>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  
  <link href='/css/main.css' rel='stylesheet' type='text/css'>
  <link href='libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="jumbotron">
    <div class="container">
      <!--<h1 class="project-name text-muted">Greg Berns</h1>-->
      
        <div class="gb-logo gb-logo-large center">
          <div>
            <span>GREG BERNS</span>
          </div>
        </div>
      
      <p class="project-tagline text-muted">Software Developer, Cook, Traveler</p>
    </div>
  </div>

  <div class="nav-container">
    <div class="container">
      <div class="nav-default">
        <ul class="nav nav-justified">
          <li>
            <a href="/code">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              Code
            </a>              
          </li>
          <li>
            <a href="/food">
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>              
              Food
            </a>
          </li>
          <li>
            <a href="/places">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              Places
            </a>              
          </li>
          <!-- <li>
            <a href="#family">Family</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
