<div class="row">

  <div class="col-md-6">
    <div class="panel">
      <div id="drive" class="panel-heading h2">
          Drive
      </div>
      <div class="panel-body">
        <p>
          For some, it takes years to discover their purpose in life. 
        </p>
        <p>
          For others, they know it from a very young age. 
        </p>
        <p>
          For me, it just took a bit to put a name on it: solving interesting problems
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel">
      <a href="/code">
        <div id="code" class="panel-heading h2">
          Code
        </div>
      </a>
      <div class="panel-body">
        <p>
          I'm a software developer at InfoSol Inc., a Business Intelligence consultancy and software development firm. We build software to get information to the people that need it.
          
          </br>
          </br>

          <a href="code.html">Find out more...</a>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <div class="panel">
      <a href="/food">
        <div id="food" class="panel-heading h2">
          Food
        </div>
      </a>
      <div class="panel-body">
        <p>
          Food makes people happy. Happy people are fun to be around.
        </p>
        <p>
          So I make damn good food.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel">
      <a href="/code">
        <div id="places" class="panel-heading h2">
          Places
        </div>
      </a>
      <div class="panel-body">        
        <p>
          "The further you go,
          the less you know.
          The more knowledge you seek,
          the less you understand."
        </p>
        <p>
          Thailand, Costa Rica, China, Mexico...to name a few.
        </p>
      </div>
    </div>
  </div>

</div>

<!-- <h2 id="family">
  Family
</h2>
<p>
  Apparently I have high expectations to live up to.... my great-grandfather, grandfather, and father all earned PHDs. 

  </br>

  I figured it would be fun to do some research into my great-grandfather and grandfather's impact on the world. 

  </br>
  </br>

  <a href="family.html">Check it out here.</a>
</p> -->
