{% include header.html %}

<div class="nav-container">
  <div class="container">
    <div class="nav-default">
      <ul class="nav nav-justified">
        <li>
          <a href="/code/ibe">
            InfoBurst
          </a>              
        </li>
        <li>
          <a href="/code/apis">
            APIs
          </a>
        </li>
        <li>
          <a href="/code/support">
            Support
          </a>              
        </li>
        <!-- <li>
          <a href="#family">Family</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<div class="container">
{{ content }}
</div>

{% include footer.html %}
